<!DOCTYPE html>
<html>
<head>
  <title>HerokuImageUploader</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <!--Heroku CSS CDN-->
  <%= stylesheet_link_tag    'https://d3twwm4dp9cdvj.cloudfront.net/assets/application-04874ba09ceeeca9aa64a43720ee6621.css' %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!--Heroku JS CDN-->
  <script src="//cdn.optimizely.com/js/221808620.js"></script>
  <!--<script src="https://d3twwm4dp9cdvj.cloudfront.net/assets/application-250c357778be63db4e27ecd85e57e6a3.js"></script>-->
  <script src='//use.typekit.net/lpc2yow.js'></script>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
