<!DOCTYPE html>
<html>
<head>
  <title>HerokuImageUploader</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'https://d3twwm4dp9cdvj.cloudfront.net/assets/application-04874ba09ceeeca9aa64a43720ee6621.css' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
